<script type="text/javascript">
  $(document).ready(function () {
  });
</script>
  <div class="row">
    <%= render './sidebar' %>
    <div class="span9">
      <div class="row">
        <div id="admin" class="span9"></div>
      </div>
    </div>
  </div>
</div>