<%# render the schedule views, similar to how we implement it in publisher CAPP page %>
<script type="text/javascript">
  $(document).ready(function (){
    // console.log('render schedules');
    var scheduleView = new Kra.Views.ScheduleIndex({
      schedules: <%= raw @schedules.to_json %>
    });
  });
</script>
<div id="schedule-view">
</div>