body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  /*z-index: 10000;*/
}
.bodywrapper {
  width: 800px;
  margin: 0 auto;
}
#top-nav {
  height: 38px;
  background-color: orange;
  width: 100 %;
}
.logo {
  float: left;
  font-size: 26px;
  margin-top: 4px;
}
.header-links {
  float: right;
}
ul.menu {
  margin: 10px;
  list-style-type: none;
}
/* tab menu */
#app-nav {
  margin-top: 16px;
}
#app-menu {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #FFF;
  font-weight: bold;
}
#app-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#app-menu ul li {
  display: inline;
  margin: 0;
  text-transform: capitalize;
}
#app-menu ul li a {
  padding: 5px 16px;
  color: #FFF;
  background: #E7A272;
  float: left;
  text-decoration: none;
  border: 1px solid# D17B40;
  border-left: 0;
  margin: 0;
  text-transform: capitalize;
}
#app-menu ul li a: hover {
  background: #EAEAEA;
  color: #7F9298;
  text-decoration:none;
  border-bottom:1px solid # EAEAEA;
}
#app-menu ul li a.active {
  background: #EAEAEA;
  color: #7F9298;
  border-bottom:1px solid # EAEAEA;
}
