<div id="flash-page">
  <div class="row" style="padding-top:440px">
    <div class="offset2 span8">
      <div class="contents">
        <!-- <h1>Connecting with Childcare Center</h1> -->
      </div>
    </div>
  </div>
</div>