<script type="text/javascript">
  $(document).ready(function () {
    Kra.default_classroom_id = <%= current_user.try(:default_classroom_id) %>;
    var appView = new Kra.Views.Timeline;
    $("#timeline").html(appView.render().el);
  });
</script>
<div class="row">
  <%= render "./sidebar" %>
  <div class="span9">
    <div class="row">
      <div id="timeline" class="span6"></div>
      <div class="span3">Additional information</div>
    </div>
  </div>
</div>
