<script type="text/javascript">
  $(document).ready(function () {
    // console.log('render timeline');
    var postView = new Kra.Views.PostIndex;
    var postNew = new Kra.Views.PostNew;
    $("#timeline").append(postNew.render().el);
    $("#timeline").append(postView.render().el);
  });
</script>

<div class="container">
  <div class="span3"></div>
  <div id="timeline" class="span6">
    <button class="btn">New Post</button>
  </div>
</div>
<p>Kids R Alright</p>

<p>A bridge between education centers and parents/guardians.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>