<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Kidsralright</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
<!-- >   // <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script> -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
